{% extends "w3_base.html" %}
{% block content %}
<!-- Header/Home -->
    <!-- Contact Section -->
  <div class="w3-padding-64 w3-content w3-text-grey">
    <h2 class="w3-text-light-grey">Contact Us</h2>
    <hr style="width:200px" class="w3-opacity">
    <div class="w3-section">
      <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Kathmandu, Nepal</p>
      <p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +977 9860298718</p>
      <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> 073bex432.rashik@pcampus.edu.np</p>
    </div><br>
  <!-- End Contact Section -->
  </div>
{% endblock content %}


