{% extends "w3_base.html" %}
{% block content %}
<!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-black" >
    <h1 class="w3-jumbo"><span class="w3-hide-small">Traffic Control</span> Center.</h1>
  </header>

  <div class="guff">
    <h3>About this webApp</h3>
    <p>
      This web application serves for two purposes; Monitor and Control. The optimized traffic timing sequence generated is used to create for simulation
    </p>
    <p> Visit JUNCTION menu to visit more about three junctions; Koteshwor, Jadibuti and Lokanthali.</p>
    <p> Visit DEVELOPER TEAMS menu to see the information about the project team who contributed in doing software, optimization and hardware implementation works.</p>
    <p> Under, each junction page, we have access to next phase button that will recognize the current phase number and begin the next sequence</p>
    <p> This property for emergency case, DO NOT misuse ! </p>


  </div>
{% endblock content %}